<!DOCTYPE html>
<html>
<head>
    <title><%= stateUrl %></title>
    <script src="/javascripts/cookieModule.js"></script>
    <style>
        .home-section{
            margin-left: 250px;
        }
    </style>
</head>
<body>
<div class="sideBar">
    <%- include('./layout/navbar.ejs') %>
</div>
<div class="home-section">
    <h2>물품</h2> <%= products %>
    <h2>사람</h2> <%= members %>
    <h2>내정보</h2> <%= myInfo %>
    <h2>내대여</h2> <%= myRent %>
    <h2>대여현황</h2> <%= rentals %>
</div>
</body>
</html>
