<!--
    * 담당자 : 박신욱
    * 기능 : 홈 페이지
    * 설명 : 홈페이지 에서 간략한 물품 관리 정보들을 띄워 주기위한 컴포넌트
-->
<div class="content">
    <div class="content__head" onclick="location.href='/productManage'">
        <span class="content__title">물품관리</span>
        <span class="content__cnt"><%= productCount %></span>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="content__body">
        <table>
            <thead>
            <tr>
                <th>물품 이름</th>
                <th>물품 코드</th>
                <th>대여가능</th>
                <th>반납필요</th>
                <th>남은 수량</th>
            </tr>
            </thead>
            <tbody>
            <% products.map((res) => {%>
                <tr>
                    <td><%= res.product_name %></td>
                    <td><%= res.product_code %></td>
                    <td><%= res.rental_availability ? 'O' : 'X'  %></td>
                    <td><%= res.return_needed ? 'O' : 'X'  %></td>
                    <td><%= res.leftQuantity %></td>
                </tr>
            <%})%>
            </tbody>
        </table>
    </div>
</div>