<style>
    .userTable {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    table {
        border: 1px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
        width: 100%;
        max-width: 1500px;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
    }

    th {
        text-align: left;
    }

    thead {
        font-weight: bold;
        color: #fff;
        background: #73685d;
    }

    td, th {
        padding: 1em .5em;
        vertical-align: middle;
    }

    td {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: #fff;
    }

    a {
        color: #73685d;
    }

    @media all and (max-width: 768px) {

        table, thead, tbody, th, td, tr {
            display: block;
        }

        th {
            text-align: right;
        }

        table {
            position: relative;
            padding-bottom: 0;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        }

        thead {
            float: left;
            white-space: nowrap;
        }

        tbody {
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
            white-space: nowrap;
        }

        tr {
            display: inline-block;
            vertical-align: top;
        }

        th {
            border-bottom: 1px solid #a39485;
        }

        td {
            border-bottom: 1px solid #e5e5e5;
        }

    }
</style>
<table id="productTable" class="productTable">
    <thead>
    <tr>
        <th>분류</th>
        <th>물품 이름</th>
        <th>물품 코드</th>
        <th>대여자</th>
        <th>대여 사유</th>
        <th>대여일</th>
        <th>반납일</th>
        <th>반납기한</th>
        <th>대여 상태</th>
    </tr>
    </thead>
    <tbody id="table_data">
    <% data.map(res =>{ %>
        <tr>
            <td><%= res.product_id.product_category.firstCategory %>-<%= res.product_id.product_category.secondCategory %></td>
            <td><%= res.product_id.product_name %></td>
            <td><%= res.product_id.product_code %></td>
            <td><%= res.emp_id.emp_name %></td>
            <td><%= res.rental_purpose %></td>
            <td><%= res.rental_date %></td>
            <td><%= res.return_date %></td>
            <td><%= res.return_deadline %></td>
            <td><%= res.rental_status %></td>
        </tr>
    <% }) %>
    </tbody>
</table>
