<div class="leftMyInfo">
    <img src="/stylesheets/myPage/avartar.jpg" alt="profile">
    <div class="leftContent">
        <p>사번: <%= user.emp_no %></p>
        <br/>
        <p>이름: <%= user.emp_name %></p>
    </div>
</div>
<div class="rightMyInfo">
    <p>부서: <%= user.dept %></p>
    <p>직책: <%= user.emp_position %></p>
    <p>권한</p>
    <p>등록: <%= user.edit_auth %> 대여: <%= user.rent_auth %> 열람: <%= user.open_auth %></p>
    <p>대여 수: <%= rent.length %></p>
    <p>반납 수: <%= returns.length %></p>
    <button onclick="location.href = '/myPage/modify'">정보수정</button>
</div>
