<link rel='stylesheet' href="/stylesheets/userTable.css"></script>
<table id="productTable">
    <thead>
    <tr>
        <th>분류</th>
        <th onclick="sortTable(1)">이름</th>
        <th>번호</th>
        <th>대여 가능</th>
        <th>반납 필요</th>
        <th>남은 수량</th>
        <th>대여 중</th>
        <th>총 수량</th>
        <th onclick="sortTable(8)">등록일(수정일)</th>
    </tr>
    </thead>
    <tbody id="table_data">
    <% data.map(res =>{ %>
        <tr>
            <td><%= res.product_category.firstCategory %>-<%= res.product_category.secondCategory %></td>
            <td><%= res.product_name %></td>
            <td><%= res.product_code %></td>
            <td><%= res.rental_availability ? 'O' : 'X' %></td>
            <td><%= res.return_needed ? 'O' : 'X' %></td>
            <td>남은 수량</td>
            <td>대여 수량</td>
            <td><%= res.quantity %></td>
            <td><%= res.last_date %></td>
        </tr>
    <% }) %>
    </tbody>
</table>
